* {
  color-scheme: dark;

  --accent1: hsl(300, 100%, 24%);
  --accent2: hsl(300, 100%, 35%);
  --accent3: hsl(300, 100%, 40%);
  --bg1: hsl(0, 0%, 5%);
  --bg2: hsl(0, 0%, 10%);
  --border: hsl(0, 0%, 25%);
  --green: hsl(120, 100%, 45%);
  --red: hsl(0, 100%, 50%);
}

@font-face {
  font-family: "NunitoSans";
  src: url("fonts/NunitoSans-VariableFont.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  src: url("fonts/Lexend-VariableFont_wght.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Sekuya";
  src: url("fonts/Sekuya-Regular.woff2") format("woff2");
  font-display: swap;
}

.icon {
  width: 40px;
  margin: 0.5rem;
  background-color: black;
  transition: all 0.2s ease-in-out;
}
.icon:hover {
  cursor: pointer;
  transform: scale(1.25);
}
body {
  font-size: 62.5%;
  background-color: black;
  color: white;
  font-size: 1.6rem;
  font-family: "NunitoSans", serif;
  margin: 5px 10px;
}
footer {
  font-size: 1.25rem;
  padding: 0.5rem;
  color: gray;
}
footer a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}
button {
  padding: 10px;
  font-family: Lexend, serif;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: var(--accent1);
}
h1 {
  font-family: "Sekuya", sans-serif;
  font-weight: normal;
  margin: 5px 0px;
  margin-left: 10px;
}
main {
  padding: 5px;
  margin: 5px;
}
small {
  font-size: 1rem;
}
